//Colores
$color-bg-body: #151515;
$color-bg-alt: #242424;
$color-primary: #4ee1a0;
$color-txt-title: #ffffff;
$color-txt-body: #d9d9d9;
$color-error: #ff6f5b;

//Tipografía
$font-principal: "Space Grotesk", sans-serif;
